DATABASE_URL="postgresql://postgres:jeyapratha@localhost:5432/realestate"

JWT_SECRET="supersecretkey"

PORT=5000

CLOUDINARY_CLOUD_NAME=dwgwbbaes

CLOUDINARY_API_KEY=769299857525697

CLOUDINARY_API_SECRET=jbpf84yeAPkyzEvrL8wstIP_Cy8